<form action="/recipes" method="POST">
  <div class="form-group">
    <label for="title">Name of the Recipe</label>
    <input type="text" class="form-control" id="title" placeholder="Enter the name of the recipe">
  </div>
  <div class="form-group">
    <label for="description">Description of the Recipe</label>
    <input type="text" class="form-control" id="summary" placeholder="Enter the description of the recipe">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>