<%= form_for @shoppinglist do |form|%>
 <div class="form-group">
  <%= form.label :name%>
  <%= form.text_field :name, class: "form-control"%>
</div>

  <%= form.button 'Update Shopping List', class: "btn btn-default" %>
<% end %>