<h1>Shopping lists!</h1>

<table class="table">


<% @shoppinglists.each do |shoppinglist| %>
  <li><%= link_to shoppinglist.name, shoppinglist_path(shoppinglist) %> <%= link_to "Edit", edit_shoppinglist_path(shoppinglist) %> <%= link_to "Delete", shoppinglist_path(shoppinglist), method: :delete, data: { confirm: 'Are you sure you want to delete this data?'} %></li>
<% end %>
<%= link_to "New Shoppinglist", new_shoppinglist_path, class: 'btn btn-sm btn-default' %>
</table>